asgiref
certifi
cffi
charset-normalizer
cryptography
dj-database-url
dj-rest-auth
Django
django-allauth
django-cors-headers
django-rest-framework
djangorestframework
djangorestframework-simplejwt
idna
pillow
psycopg2
pycparser
PyJWT
PyMySQL
python-decouple
razorpay
requests
rest-framework-simplejwt
sqlparse
typing_extensions
tzdata
urllib3
