body {
    font-family: 'Inter', sans-serif;
}
.dashboard-main-container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    gap: 20px;
    position: relative;
}

.sidebar-main-container {
    flex-basis: 26%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    
}

.content-container {
    position: relative;
    flex-basis: 69%;
    height: 100vh;
    /* margin-left: 15%; */
}

.content{
    margin-top: 60px;
}
