.menubox-container{
    /* width: 320px; */
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.menubox-container:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.menubox-text{
    font-size: 18px;
    font-family: inter;
    font-weight: 800;
    color:black;

}