@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.product-detail-page {
  
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin-top: 50px;
  margin: 40px 230px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.product-detail-container {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-detail-image-container {
  flex: 1;
  max-width: 250px;
}

.product-detail-image {
  width: 100%;
  border-radius: 8px;
}

.product-detail-info {
  flex: 2;
  max-width: 500px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.product-detail-name {
  font-size: 28px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5px;
}

.product-detail-price {
  font-size: 24px;
  color: rgb(243, 173, 11);
  font-weight: bold;
  margin-bottom: 10px;
}

.product-detail-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.product-detail-brand,
.product-detail-category,
.product-detail-material,
.product-detail-country,
.product-detail-stock {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.product-detail-actions {
  margin-top: 20px;
}

.add-to-cart-button, .wishlist-button {
  background-color: rgb(49, 197, 142);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover, .wishlist-button:hover {
  background-color: rgb(32, 148, 109);
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
    align-items: center;
  }

  .product-detail-image-container,
  .product-detail-info {
    max-width: 100%;
  }
}


.blur-button {
  filter: blur(2px);
  cursor: not-allowed;
}

.product-unavailable-message{
  color: red;
}



.product-detail-actions button:disabled {
  background-color: #ccc; /* Style for disabled buttons */
  cursor: not-allowed;
}