body {
    font-family: 'Inter', sans-serif;
}

.sidebar-container{
    width: 100%;
    height: 100%;
    background-color: #e7e5e4;
    padding: 10px;
}

.title{
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.sidebar-menus{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.menu-title{
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 10px;
    cursor: pointer;
    background: #c5c4c4;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item{
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 6px 0;
    border-bottom: 1px solid #c4c5c1;
    padding-left: 5px;

}

.menu-icon{
    width: 18px;
    height: 18px;
}

.menu-item:hover{
    color: #000000;
    background-color: #e9e5e5;
}

.menu-item.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    font-weight: 600;
  }