body {
    font-family: 'Inter', sans-serif;
}
.dashboard-main-container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    gap: 20px;
}

.sidebar-main-container {
    flex-basis: 24%;
    height: 100vh;
    overflow-y: scroll;
}

.content-container {
    flex-basis: 73%;
    height: 100vh;
}

.content{
    margin-top: 60px;
}
